section{
    width: -webkit-fill-available;
    display: grid;
    place-items: center;
    text-align: center;
    justify-self: center;
    height: -webkit-fill-available;
}
h1{
    font-family: monospace;
    font-size: 4rem;
    padding: 0px;
    margin: 0px;
}
p{
    font-weight: bolder;
}
